@import "normalize.css";

:root {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;

	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;

	&:visited {
		color: inherit;
	}

	&:hover {
		text-decoration: underline;
		text-underline-offset: 5px;
	}
}
